
  <mat-toolbar color="warn">
  <mat-toolbar-row>
    <span routerLink="/" routerLinkActive="router-link-active" >Real Tech</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/register" routerLinkActive="active" >Register</a>
    <a mat-button routerLink="/login" routerLinkActive="active" >login</a>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<h1></h1>
<router-outlet></router-outlet>


